NEXT_PUBLIC_API_URL=http://localhost:4000
PORT=3200
NEXT_PUBLIC_L1_CHAIN_ID=701
NEXT_PUBLIC_L1_RPC=http://localhost:8545
NEXT_PUBLIC_L1_ERC20=
NEXT_PUBLIC_L1_ERC20_SYMBOL=
NEXT_PUBLIC_L1_ERC20_DECIMALS=18
NEXT_PUBLIC_L2_CHAIN_ID=7192
NEXT_PUBLIC_L2_RPC=http://localhost:9545
NEXT_PUBLIC_L2_ERC20=
NEXT_PUBLIC_L2_ERC20_SYMBOL=
NEXT_PUBLIC_L2_ERC20_DECIMALS=18
NEXT_PUBLIC_L3_CHAIN_ID=7393
NEXT_PUBLIC_L3_RPC=http://localhost:10545
NEXT_PUBLIC_L3_ERC20=
NEXT_PUBLIC_L3_ERC20_SYMBOL=
NEXT_PUBLIC_L3_ERC20_DECIMALS=18
NEXT_PUBLIC_SSO_JWT=
