PORT=7710
VAULT_ADDR=http://host.docker.internal:8200
VAULT_NAMESPACE=
VAULT_TOKEN=
VAULT_ROLE_ID=
VAULT_SECRET_ID=
SERVICES_ROOT=/home/ghost/ghostl-stack/services

AI_VAULT_EXECUTE=0
AI_VAULT_DEFAULT_DECISION=deny
AI_VAULT_FORWARD_CLIENT_TOKEN=0
AI_VAULT_POLICY_PATH=/app/policy.generated.json
AI_VAULT_POLICY_WRITE=0

AI_VAULT_RATE_WINDOW_MS=60000
AI_VAULT_RATE_LIMIT=120
AI_VAULT_BURST_LIMIT=40
AI_VAULT_BLOCK_MS=300000
AI_VAULT_ROTATE_INTERVAL_MS=900000
