# GhostL3 testnet settings
L3_CHAIN_ID=903
L3_PARENT_CHAIN_ID=901
L3_L1_RPC=http://l2-geth:8545
L3_HOST_RPC=http://localhost:39545
L3_HOST_WS=http://localhost:39548
L3_ROLLUP_RPC_HOST_PORT=39546
L3_ROLLUP_RPC_PORT=19546
L3_L2OO_ADDRESS=
L3_GAME_FACTORY_ADDRESS=
BRIDGE_L2L3_ADDRESS=
L3_BATCHER_KEY=
L3_PROPOSER_KEY=
L3_CHALLENGER_KEY=
