# Next.js management UI testnet settings
NODE_ENV=production
NEXT_PUBLIC_ENV=testnet
NEXT_PUBLIC_L1_RPC=http://localhost:18545
NEXT_PUBLIC_L2_RPC=http://localhost:29547
NEXT_PUBLIC_L3_RPC=http://localhost:39545
NEXT_PUBLIC_GRAFANA_URL=http://localhost:3000
NEXT_PUBLIC_EXPLORER_URL=http://localhost:18644
PORT=3200
