# GhostChain (L1) testnet settings
L1_CHAIN_ID=14000101
L1_RPC_HTTP_PORT=18545
L1_RPC_WS_PORT=18546
L1_RPC_AUTH_PORT=18552
L1_BOOTNODE_PORT=30301
L1_P2P_PORT=18551
L1_METRICS_PORT=18660
L1_RPC_HTTP_BIND=127.0.0.1
L1_RPC_WS_BIND=127.0.0.1
L1_RPC_AUTH_BIND=127.0.0.1
L1_P2P_BIND=0.0.0.0
L1_HTTP_APIS=eth,net,web3,debug,txpool
L1_WS_APIS=eth,net,web3
L1_HTTP_VHOSTS=localhost,127.0.0.1
L1_HTTP_CORS=http://localhost,http://127.0.0.1
L1_WS_ORIGINS=http://localhost,http://127.0.0.1
AUTH_JWT_FILE=/secrets/jwtsecret
