# GhostL2 (OP Stack) testnet settings
L2_CHAIN_ID=901
L1_CHAIN_ID=14000101
L1_RPC_DOCKER=http://l1-rpc-proxy:18546
L2_RPC=http://l2-geth:8545
L2_HOST_RPC=http://localhost:29547
L2_HOST_WS=http://localhost:29548
L2_ROLLUP_RPC=http://localhost:29546
L2_GATEWAY_RPC=http://localhost:28546
L2_GATEWAY_L1_RPC=http://localhost:28547
GAS_TOKEN_SYMBOL=GST
BATCHER_KEY=
PROPOSER_KEY=
CHALLENGER_KEY=
L2OO_ADDRESS=
L2_GAME_FACTORY_ADDRESS=
L2_OUTPUT_ORACLE_ADDRESS=
L1_STANDARD_BRIDGE_ADDRESS=
L1_CROSS_DOMAIN_MESSENGER_ADDRESS=
L2_CROSS_DOMAIN_MESSENGER_ADDRESS=0x4200000000000000000000000000000000000007
L2_TO_L1_GATEWAY_ADDRESS=
