PORT=7602
HOST=0.0.0.0
RECOMMENDATION_DIR=/var/lib/hg-risk-oracle/recommendations
RISK_SIGNING_SECRET=__SET_IN_VAULT__

# GhostChain network
GHOSTBRAIN_URL=http://ghostbrain-core:7900
GHOSTBRAIN_CORE_URL=http://ghostbrain-core:7900
GHOSTCHAIN_L1_RPC=http://host.docker.internal:18545
GHOSTCHAIN_L2_RPC=http://host.docker.internal:7260
GHOSTCHAIN_L3_RPC=http://host.docker.internal:7270
L2_RPC_URL=http://host.docker.internal:7260
L3_RPC_URL=http://host.docker.internal:7270
