RPC_L2=http://ghostl2:9545
RPC_L3=http://ghostl3:9545
RPC_URL=
RPC_L1=
OP_NODE_RPC_URL=
OP_BATCHER_METRICS_URL=
OP_PROPOSER_METRICS_URL=
OP_NODE_RPC_URL_L3=
OP_BATCHER_METRICS_URL_L3=
OP_PROPOSER_METRICS_URL_L3=
POLICY_REGISTRY_ADDRESS=
POLICY_REGISTRY_RPC=
CHAIN_POLICY_REGISTRY_ADDRESS=
CHAIN_POLICY_REGISTRY_RPC=
CHAIN_POLICY_REQUIRED=0
CHAIN_POLICY_CACHE_MS=15000
POLICY_ROLE=L2_AI_MONITOR
POLICY_ACTION_THROTTLE=L2_AI_THROTTLE
POLICY_ACTION_PAUSE=L2_AI_PAUSE
POLICY_APPROVALS_PROVIDED=0
POLICY_HAS_EVIDENCE=0
POLICY_REQUIRED=1
POLICY_CACHE_MS=10000
GUARD_URL=http://ghost-guard:7070
ADMIN_TOKEN=
PORT=7575
OBSERVE_ONLY=0
SIMULATION_ENABLED=0
THROTTLE_THRESHOLD=70
PAUSE_THRESHOLD=90
BASE_DELAY_MS=2000
MAX_DELAY_MS=8000
TARGET_LAYER=L2
HEAD_LAG_THRESHOLD_SEC=30
L1_HEAD_LAG_THRESHOLD_SEC=120
BATCHER_IDLE_THRESHOLD_SEC=900
PROPOSER_IDLE_THRESHOLD_SEC=900
DEPENDENCY_TIMEOUT_MS=1500
MIN_PEERS=1
REORG_PENALTY=15
STALE_PENALTY=25
SYNCING_PENALTY=20
LOW_PEER_PENALTY=15
L1_RPC_PENALTY=30
OP_NODE_PENALTY=25
BATCHER_STALL_PENALTY=20
PROPOSER_STALL_PENALTY=20
METRICS_PENALTY=10
