PORT=7171
RPC_L2=http://localhost:9545
RPC_L3=http://localhost:10545
BRIDGE_L2L3_ADDRESS=
L3_INBOX_ADDRESS=
L3_TOKEN_FACTORY_ADDRESS=
L3_TOKEN_ADDRESS=
RELAYER_PRIVATE_KEY=
L2_RELAYER_PRIVATE_KEY=
START_BLOCK=
CONFIRMATIONS=0
