PORT=7261
CHAIN_ID=901
GHOST_LAYER=L2
GHOST_EXEC_URL=http://ghost-exec:7260
GHOST_SETTLEMENT_URL=http://ghost-settlement:7263
BLOCK_TIME_MS=2000
MAX_TX_PER_BLOCK=1000
GAS_LIMIT_CAP=30000000
STATE_DIR=/state
# SEQUENCER_PRIVATE_KEY_FILE=/run/secrets/sequencer_key
