PORT=7688
GHOSTLOAD_POLICY_PATH=/app/packages/ghostload-policy/default-policy.json
GHOSTLOAD_KILL_SWITCH=0
GHOSTLOAD_MANUAL_ONLY=1

# GhostChain network
GHOSTBRAIN_URL=http://ghostbrain-core:7900
GHOSTBRAIN_CORE_URL=http://ghostbrain-core:7900
GHOSTCHAIN_L1_RPC=http://host.docker.internal:18545
GHOSTCHAIN_L2_RPC=http://host.docker.internal:7260
GHOSTCHAIN_L3_RPC=http://host.docker.internal:7270
L2_RPC_URL=http://host.docker.internal:7260
L3_RPC_URL=http://host.docker.internal:7270
