PORT=7070
RPC_L2=http://localhost:9545
RPC_L3=http://localhost:10545
GUARD_POLICY_ADDRESS=
BRIDGE_L2L3_ADDRESS=
PRIVATE_KEY=
START_BLOCK=
ADMIN_TOKEN=
AUTO_PAUSE=1
RISK_WINDOW_SECONDS=300
CONFIRMATIONS=0
